/* Clients */

.clients {
  height: 100%;
  color: black;
}
.clients-row {
  margin-top: 100px;
  padding: 0 150px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.clients-card {
  width: 300px;
  padding: 1rem;
  display: flex;
  text-align: left;
  flex-direction: column;
}
.clients-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
