@import url('../styles/services.css');
@import url('../styles/homepage.css');
@import url('../styles/plans.css');
@import url('../styles/success.css');

html,
body {
  padding: 0 0 0 75px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

.homepage {
  height: 100vh;
}

.heading {
  font-size: 38px;
}
