@import url('../styles/homepage.css');
@import url('../styles/services.css');
@import url('../styles/plans.css');
@import url('../styles/clients.css');
@import url('../styles/contact.css');

@font-face {
  font-family: 'Gatwick';
  src: url('../public/fonts/Gatwick-Bold.otf');
}
@font-face {
  font-family: 'Garet';
  src: url('../public/fonts/Garet-Book.otf');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Garet';
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  font-family: 'Garet';
}

.fullpage {
  height: 100vh;
  /* padding-top: 20px; */
}
.fullpage:first-child {
  background-image: url('../public/bg.webp');
  background-size: cover;
  background-position: center;
}

.heading {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 786px) {
  .fullpage:first-child {
    background-position: right;
  }
}
