/* Header */

.header {
  padding-top: 50px;
  margin: 0 0 0 7rem;
}
.navbar {
  float: right;
}
.navbar a {
  padding: 7px 30px;
  border-width: 2px;
  font-size: 24px;
}
.navbar a:hover {
  color: yellow;
}
.navbar:last-child {
  margin-right: 200px;
}

/* Welcome */
.welcome {
  margin: 10rem 0 0 7rem;
}
.welcome pre {
  font-family: 'Gatwick';
  font-size: 48px;
}

.welcome-btn {
  border: 2px solid grey;
  padding: 7px 30px;
  margin-right: 40px;
}
.welcome-btn:hover {
  background-color: grey;
}
