.fullpage {
  height: 100vh;
  /* padding-top: 20px; */
}
.fullpage:first-child {
  background-image: url('../public/bg.webp');
  background-size: cover;
  background-position: center;
}

/* Header */
.header {
  margin: 0 0 0 7rem;
}
.header img {
  height: 150px;
  width: 150px;
}
.navbar {
  padding-top: 50px;
  float: right;
}
.navbar a {
  padding: 7px 30px;
  border-width: 2px;
  font-size: 24px;
  font-weight: 600;
}
.navbar a:hover {
  color: black;
}

.navbar:last-child {
  margin-right: 200px;
}

/* Welcome */
.welcome {
  margin: 8rem 0 0 7rem;
}
.welcome pre {
  font-family: 'Gatwick';
  font-size: 48px;
}
.welcome-btn {
  border: 2px solid white;
  padding: 7px 30px;
  margin-right: 40px;
  font-weight: 600;
}
.welcome-btn:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  .fullpage:first-child {
    background-position: right;
    background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
      url('../public/bg.webp');
  }
  .header {
    margin-left: 2rem;
  }
  .navbar {
    visibility: hidden;
  }
  .navbar:last-child {
    margin-right: 0;
  }
  /* Welcome */
  .welcome {
    margin: 10rem 0 0 2rem;
    z-index: 3;
  }

  .welcome pre {
    font-size: 28px;
  }
  .welcome-btn {
    margin-top: 100px;
  }
}
