/* Plans */
.plans {
  height: 100vh;
  background-size: cover;
  padding-top: 5px;
}
.plans div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.plan-card {
  width: 300px;
  height: 350px;
  padding: 1rem;
  display: flex;
  color: black;
  text-align: center;
  border-radius: 12px;
  flex-direction: column;
  backdrop-filter: blur(17px) saturate(200%);
  background-color: rgba(80, 227, 194, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
}

.plan-card p {
  font-weight: bold;
}
.plan-perks-blank {
  list-style-image: url('../public/cross-list.gif');
}
.plan-perks {
  text-align: left;
  font-weight: 600;
  font-size: 0.9em;
  list-style-image: url('../public/check-list.gif');
}

.plans pre {
  margin-top: 50px;
  font-size: 24px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .plans {
    height: auto;
  }
  .plans div {
    flex-direction: column;
  }
}
