/* Plans */
.plans {
  margin-top: 100px;
}
.plans div {
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

.plan-card {
  width: 300px;
  height: 350px;
  padding: 0.5rem;
  display: flex;
  color: black;
  text-align: center;
  flex-direction: column;
  border: 1px solid whitesmoke;
  background-color: white;
}
