/* Plans */
.plans {
  height: 100vh;
}
.plans div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.plan-card {
  width: 300px;
  height: 350px;
  padding: 1rem;
  color: black;
  border-radius: 12px;
  flex-direction: column;
  border: 1px solid black;
  /* backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px); */
  /* border: 2px solid rgba(209, 213, 219, 0.3); */
}

.plan-card h2 {
  margin-top: 0;
}
.plan-perks-blank {
  list-style-image: url('../public/cross-list.gif');
}
.plan-perks {
  margin: 0;
  text-align: left;
  font-weight: 600;
  font-size: 0.9em;
  list-style-image: url('../public/check-list.gif');
}

.plans p {
  margin-top: 50px;
  font-size: 24px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .plans {
    height: auto;
  }
  .plans div {
    flex-direction: column;
  }
  .plan-card {
    width: 17em;
    /* height: em; */
  }
}
