/* Services */
.services {
  padding-top: 20px;
  height: 100vh;
}
.services div {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.services div div {
  width: 400px;
  height: 400px;
  text-align: center;
  flex-direction: column;
  transition: black 0.15s ease, 0.15s ease;
}

.diet-counselling,
.diet-planning,
.diet-education {
  background-position: center;
  background-size: cover;
}
.diet-counselling {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-counselling.jpg');
}
.diet-planning {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-planning.jpg');
}
.diet-education {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-education.jpg');
}
.diet-counselling:hover,
.diet-education:hover,
.diet-planning:hover {
  border: 3px solid white;
}

.services p {
  margin-top: 40px;
  color: black;
  font-size: 24px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .services {
    height: max-content;
  }
  .services div {
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }
  .services div div {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }
  .services p {
    font-size: 12px;
  }
}
