/* Services */
.services {
  padding-top: 20px;
  height: 100vh;
}
.services div {
  display: flex;
  justify-content: space-evenly;
}

.services div div {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
  width: 400px;
  height: 400px;
  transition: color 0.15s ease, 0.15s ease;
}

.diet-counselling,
.diet-planning,
.diet-education {
  background-position: center;
  background-size: cover;
}
.diet-counselling {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-counselling.jpg');
}
.diet-planning {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-planning.jpg');
}
.diet-education {
  background-image: radial-gradient(rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0)),
    url('../public/diet-education.jpg');
}
.diet-counselling:hover,
.diet-education:hover,
.diet-planning:hover {
  border: 3px solid white;
}

.services pre {
  color: black;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .services {
    height: max-content;
  }
  .services div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .services div div {
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
  }
}
