/* Success */

.success div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.success-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  height: 300px;
  margin-right: 10px;
  /* border-radius: 10px; */
  text-decoration: none;
  border: 2px solid #131111;
}
